#event{
  min-height:700px;
  #sentral-sidebar{
    min-height:100vh;
    background-color: #2d4d94;
      #sentral-sidebar-content{
        top: 3%;
        left: 24%;
        position:absolute;
      }
    h1{
      font-size: 35px;
      max-width: 300px;
      font-weight: bold;
      color: white !important;
    }
  }
  #event-content{
    padding:30px;
    h3,h4{
      padding-bottom: 5px;
    }
    .organiser-item{
      padding: 20px 0px;
    }
    .participant-item{
      padding: 20px 0px;
    }
  }
  #events-btn{
    position: absolute;
    top: 30px;
    right: 30px;
  }
}
