#sentral-login{
  min-height:700px;
  #sentral-sidebar{
    min-height:100vh;
    #sentral-sidebar-content{
      top: 35%;
      left: 24%;
      position:absolute;
    }
    h1{
      font-size: 35px;
      max-width: 300px;
      position: absolute;
      font-weight: bold;
      color: white !important;
    }
    background-color: #2d4d94;
  }
  #sentral-login-form{
    min-height:700px;
    position: absolute;
    top: 35%;
    left: 15%;
    font-size: 25px;
    right:15%;
    input{
      margin-bottom:8px;
    }
    button{
      margin-top:20px;
      width:100%;
    }
  }
}
